body{
  font-family: 'Oswald', sans-serif;
}

h1{
  font-family:'Oswald', sans-serif;
}

.error{
  text-align: center;
}

.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.container
{
    font-family: 'Oswald', sans-serif;
}

.grid-item {
  width: 25%;
  padding: 10px;
  margin: 10px;
  color: white;
}

.btn {
  background: white;
  border-style: double;
}

.active
{
  background: gray;
}

.art {
  background: salmon;
}

.writing {
  background: tomato;
}

.games {
  background: teal;
}
