@media all and (min-width: 960px) {
  body{
    font-family: 'Josefin Sans', sans-serif;
    margin:0;
    background: #D8F0C7;
  }

  h1{
    font-family: 'Josefin Sans', sans-serif;
  }

  @font-face{
    font-family: 'Lemon Milk';
    src: url('./assets/fonts/LemonMilk.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Josefin Sans Regular'), local('JosefinSans-Regular'), url(https://fonts.gstatic.com/s/josefinsans/v13/Qw3aZQNVED7rKGKxtqIqX5EUDXx4Vn8sig.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  div {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: #2c3e50;
  }

  .itchFrame{
    background: #B3CA95;
    width: 26em;
    height:11em;
  }

  .itchFrame iframe{
    margin-top:0.5em;
    height:10em;
    width: 25em;
  }

  .spacing {
    margin-right: 0.5em;
    color: #BD454E;
    font-family: 'Lemon Milk', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 2em;
    text-decoration: none;
  }

  a:link hover{
    text-decoration: none;
  }

  .spacing a:link hover{
    text-decoration: none;
  }

  #navbar
  {
    background: #B3CA95;
    height: 25%;
    width: 100%;
    margin-top: 0px;
    display: flex;
    position:fixed;
  }

  #navbar .image
  {
    float: left;
    margin-left:1%;
    margin-right:0.5%;
    height:100%;
  }

  #navbar .text
  {
    margin-top:2%;
    text-align: left;
    width:200%;
  }

  #navbar .title
  {
    font-family: 'Lemon Milk', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 3em;
    color: #BD454E;
    margin-top:10%;
    text-decoration: none;
  }

  #navbar .title:hover{
    text-decoration: none;
    color:#8A333A;
  }

  #navbar .subtitle
  {
    font-size:1em;
    color: #BD454E;
    text-align:left;
    position: relative;
    margin-top:-0.5em;
  }

  #navbar .subtitle a:link{
    color: #BD454E;
    text-decoration: none;
  }

  #navbar  .subtitle a:hover
  {
    color:#8A333A;
  }

  #navbar .pages
  {
    margin-top: 1.5em;
    text-align: left;
  }

  #navbar .pages a:hover
  {
    text-decoration: none;
  }

  #navbar .spacing:hover{
  color: #444444;
  }

  #spacer
  {
    display: block;
    height:25vh;
  }

  .filter
  {
    text-align:left;
    background:#BD696D;
    width:100%;
    height: 2.25em;
    color:#8A333A;
  }

  .filter p{
    margin:0;
    font-family: 'Lemon Milk', Helvetica, Arial, sans-serif;
    padding-top:0.6%;
    padding-left:1em;
  }


  .router-link-active
  {
    color:#000000;
  }

  .error{
    text-align: center;
  }

  .outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .middle {
    display: table-cell;
    vertical-align: middle;
  }

  .inner {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .container
  {
    margin-top:0px;
    position:relative;
  }

  .grid{
    height:69vh!important;
    margin-right:0px;
    overflow-y:scroll;
  }

  .grid-item {
    width: 25%;
    height: 25vh;
    color: white;
    text-align: center;
    overflow: hidden;
  }

  .grid-item:hover .overlay {
    opacity: 1;
  }

  .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #BD454E;
  }

  .overlay .text
  {
    color: white;
    font-size: 1.2em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .wph{
    background:#FFEB39;
  }

  .wph .subtext{
      color:black;
      font-size: 1em;
      top:65%;
      left:50%;
      width:85%
  }

  .wph img{
    margin-top:2em;
    width: 20vw;
  }

  .scorched{
    background: #AA9A8F;
  }

  .scorched img{
    width: 20vh;
  }

  .scorched .subtext{
    color:black;
    font-size: 1em;
    top:64%;
    left:50%;
    width:85%
  }

  .grid-title{
    font-family: 'Lemon Milk', Helvetica, Arial, sans-serif;
    font-size: 15px;
  }

  .grid-photo{
    max-height:100%;
    display:block;
    margin: 0 auto;
    object-fit:cover;
  }
  .grid-photo img{
    width: 100%;
  }

  .btn {
   display:inline-block;
   padding:0.35em 1.2em;
   border:0.1em solid #FFFFFF;
   margin:0 0.3em 0.3em 0;
   border-radius:0.12em;
   box-sizing: border-box;
   text-decoration:none;
   font-family:'Roboto',sans-serif;
   font-weight:300;
   color:#FFFFFF;
   text-align:center;
   transition: all 0.2s;
  }

  .button
  {
    font-family:'Lemon Milk', Helvetica, Arial, sans-serif;
    padding:0.5em 1.3em 0.35em 1.3em;
    border:0;
    background: inherit;
    font-size:1em;
    color:inherit;
    cursor: pointer;
  }
  .button:hover
  {
    background:#71805E;
    color:#444444;
  }
  .button:focus {outline:0;}

  .active
  {
    background: #B3CA95;
    color:black;
  }

  .art {
    background: salmon;
  }

  .writing {
    background: tomato;
  }

  .games {
    background: teal;
  }
}
@media all and (max-width: 959px) {
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #B3CA95;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #BD454E;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8A333A;
}
