.filter-menu ul li{
  displayer: inline-block;
  margin: 0;
  list-style: none;
  padding: 10px 15px;
  border: 1px solid tomato;
  cursor: pointer;
  -webkit-transition: all .5s ease time;
  -ms-transition: all .5s ease time;
  -moz-transition: all .5s ease time;
  -o-transition: all .5s ease time;
  transition: all .5s ease time;
}

.filter-menu ul li:hover{
  background: tomato;
  color: #ffffff;
}

li.active{
  background: tomato;
}
