@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

body{
    --primary: #c51162;
    --primarylight:#fd558f;
    --primarydark:#8e0038;
    --second:#b9f6ca;
    --secondlight:#ecfffd;
    --seconddark: #88c399;
    --darkbg:#121212;
    --wph:#ffeb4d;
    margin:0;
    background-color:var(--darkbg);
height:100%;
}

#navigation{
    font-family: 'lemonmilk';
    flex-direction: row;
    color:var(--second);
    width:200px;
    height:100%;
}

#navigation .subtitle{
    font-family: 'Alata', sans-serif;
    font-size:12px;
}

#navigation a{
    color:var(--second);
    text-decoration:none;
    width:100%;
    display:block;
}
#navigation .router-link-exact-active
{
    color:var(--primarylight);
}
#navigation .router-link-exact-active:hover
{
    color:var(--primary);
}
#navigation .title{
    font-size:24px;
    text-align:left;
}

#navigation a:hover{
    color:var(--seconddark);
}
